.contact-body {
  border-top: 2px solid #408ec6;
  background-color: white;
  min-height: 91.3vh;
  max-height: 91.3vh;
  padding: 2%;
  display: flex;
}
.contact-table {
  max-height: 100%;
  overflow-y: auto;
  width: 100%;
  border-radius: 10px;
  padding: 2%;
  outline: 2px solid #408ec6;
}
.image-card {
  height: 5rem;
  width: 5rem;
}
.card-contact-image {
  height: 5rem;
  width: 5rem;
  object-fit: cover;
  object-position: center;
}
