/* color combinations */
/* #1E2761, White #FFFFFF */
.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 50vw;
  max-width: 50vw;
  min-height: 70vh;
  max-height: 70vh;
  background-color: whitesmoke;
  outline: 2px solid #1e2761;
  box-sizing: border-box;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6%;
}

.login-header {
  min-width: 100%;
  text-align: center;
  margin-bottom: 2%;
}

.login-body {
  min-width: 100%;
}

.login-input {
  width: 100%;
  margin-bottom: 5%;
  text-align: center;
}

.login-input > input:focus {
  outline: 2px solid #1e2761;
  box-shadow: 0 0 8px #1e2761;
}

.validation {
  color: red;
  font-style: italic;
  text-align: left;
  margin-left: 1%;
}
.btn-submit {
  border: none;
  outline: 2px solid #1e2761;
  border-radius: 10px;
  padding: 1%;
  width: 20%;
}
.btn-submit:hover {
  outline: 2px solid orange;
  background-color: #1e2761;
  color: #fff;
}
